nav {
  display: flex;
  justify-content: space-between;
  height:120px;
  background-color: #4056A1;
  color:#FFFFFF;
  font-family: 'Bungee', cursive;
  padding:1.5em 1.5em 0 1.5em;
  z-index: 1;
  position: fixed;
  top:0;
  width:100%;
}

.newTweet {
  font-family: 'Source Sans Pro', sans-serif;
}

.newPost {
  display: flex;
  flex-direction: column;
}

.newPost > .arrow {
  margin-top:10px;
  -moz-animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 3s infinite;
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.fas {
  align-self: center;
  color:tomato;
}

.negativeNum{
  color: red;
}

